.icon-bat-man{background:url('icon-others/bat-man.png') no-repeat center center;}

.icon-iron-man{background:url('icon-others/iron-man.png') no-repeat center center;}

.icon-spider-man{background:url('icon-others/spider-man.png') no-repeat center center;}

.icon-thor_hammer{background:url('icon-others/thor_hammer.png') no-repeat center center;}

.icon-solar_system{background:url('icon-others/solar_system.png') no-repeat center center;}

.icon-galaxy{background:url('icon-others/galaxy.png') no-repeat center center;}

.icon-alipay{background:url('icon-others/alipay.png') no-repeat center center;}