body {
    font-size: 12px;
    font-family: "Trebuchet MS" Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.showIcon-span {
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.tableAPI {
    width: 100%;
    border: 1px solid #99b5db;
    margin: 0px auto;
    border-collapse: collapse;
}

    .tableAPI tr.title {
        height: 26px;
        color: #122f61;
        font-size: 14px;
        margin-left: 0px;
        padding-top: 6px;
        padding-left: 12px;
    }

    .tableAPI td {
        word-break: break-all;
        height: 28px;
        line-height: 28px;
        border: 1px solid #c0cdd3;
        padding-left: 5px;
    }
